**__pycache__**
**build**
**egg-info**
**dist**
data/
*.pyc
venv/
*.idea/
*.so
*.pth
*.pkl
*.json
*.zip
*.bin
output
version.py
*.pdf
*.vscode
.ipynb_checkpoints
docker
checkpoints
model_zoo
*.out
*Trash*
*.gif
*.png
*.jpg
*.ipynb